/* App.css */

body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

input,
button {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
}

button {
  cursor: pointer;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  margin: 8px;
}

button:hover {
  background-color: #45a049;
}

li {
  cursor: pointer;
  list-style-type: none;
  padding: 10px;
  margin: 5px 0;
  background: #f8f8f8;
  border-radius: 5px;
}

li:hover {
  background: #e8e8e8;
}
