/* body {
  text-align: center;
  background-color: #edf2f7;
  width: 100vw;
  height: 100vh;
} */

.App {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  background-color: white;
  height: 700px;
  margin-top: 200px;
  border-radius: 20px;
}

h1 {
  /* padding-top: 50px; */
  display: inline-block;
}
