.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  width: 800px;
  margin-left: 25%;
}

.white,
.black {
  width: 100px;
  height: 100px;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
